body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: black;
}
.boxx{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}
.boxx h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.boxx input[type="text"],.boxx input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #343434;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.boxx input[type="text"]:focus,.boxx input[type="password"]:focus{
    width: 280px;
    border-color: #2ecc71;

}
.osnova{
    text-decoration: none;
}
.osnova{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.ocnova:hover{
    background: #2ecc71;
}